{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="span12">
  <div class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="{{ url_for('index') }}">Your Single Stop</a>
    <ul class="nav">
      <li><a href="{{ url_for('student') }}">Home</a></li>
      <li class="active"><a href="{{ url_for('forms') }}">Forms</a></li>
      <li><a href="{{ url_for('counseling') }}">Counseling</a></li>
      <li><a href="{{ url_for('appointment') }}">Appointments</a></li>
      <li><a href="{{ url_for('help') }}">Get Help</a></li>
      <li><a href="{{ url_for('about') }}">About Us</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
    </div>
  </div>

<div class="hero-unit" onmouseover="myFunction3();">
<h2>Forms to complete</h2>

  <p style="background-color:#FFFFFF; border: 2px; border-radius: 5px; padding-left: 10px">
  <b>Form A</b><br>
  Form is available at Fafsa.<br>
  <button onclick="myFunction()" class="btn">Go to form</button><br>
 	Due by 2/30/2013 </p>

  <p style="background-color:#FFFFFF; border: 2px; border-radius: 5px; padding-left: 10px">
  <b>Form B</b><br>
	Form is not available online. We can help you file the proper paperwork in the office.<br>

  You can visit us at Bronx Community College.<br>
    <a href="{{ url_for('appointment') }}" class="btn">Make appointment</a><br>
      Due by 3/2/2013</p>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">How did it go?</h3> Did you submit?
  </div>
  <div class="modal-body">
    <p><form name="formFoo">
    <input type="radio" name="groupFoo" value="yes"> Yes<br>
    <input type="radio" name="groupFoo" value="no"> No
    </form>
    <textarea rows="5" class="span4" placeholder="Type your questions or comments below and they will be emailed to your local representative."></textarea></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button onClick="setReminder()" type="submit" class="btn" data-dismiss="modal" aria-hidden="true">Submit</button>
  </div>
</div>


  </div>
</div>
{% endblock %}
