{% extends "layout.html" %}
{% block body %}
<div class="span12 offset1">
  <div class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="{{ url_for('index') }}">Your Single Stop</a>
    <ul class="nav">
      <li><a href="{{ url_for('student') }}">Home</a></li>
      <li class="active"><a href="{{ url_for('forms') }}">Forms</a></li>
      <li><a href="{{ url_for('counseling') }}">CounselingU</a></li>
      <li><a href="{{ url_for('appointment') }}">Appointments</a></li>
      <li><a href="{{ url_for('help') }}">Get Help</a></li>
      <li><a href="{{ url_for('about') }}">About Us</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
    </div>
  </div>
</div>



<div id="forms" class="hero-unit">
<h2>Forms to complete</h2>

  <p style="background-color:#FFFFFF; border: 2px; border-radius: 5px; padding-left: 10px">
  <b>Form A</b><br>
  Form is available at Fafsa.<br>
  <button onclick="myFunction()" class="btn">Go to form</button><br>
 	Due by 2/30/2013 </p>

  <p style="background-color:#FFFFFF; border: 2px; border-radius: 5px; padding-left: 10px">
  <b>Form B</b><br>
	Form is not available online. We can help you file the proper paperwork in the office.<br>

  You can visit us at Bronx Community College.
    <button onclick="myFunction2()" type="submit" class="btn">Make appointment</button><br>
      Due by 3/2/2013</p>
</div>

  </div>
{% endblock %}
