<!DOCTYPE html>
<html>
	<head>
    	<title></title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	
		<!-- Bootstrap -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/newcss.css') }}" rel="stylesheet" media="screen">
    <script type="text/javascript">
      var opened=false;
 
      function myFunction(){
        popup_window=window.open('http://www.fafsa.ed.gov/');
        opened=true;
      }
       
      function myFunction2(){
        window.open('http://singlestop.herokuapp.com/student/appointment');
      }
       
      var i=0;
       
      $('#forms').mouseover(function() {
        if (opened==true)
        {
          window.open('http://singlestop.herokuapp.com/response');
          i++;
        }
      });

  </script>

	  

	</head>

	{% block body %} {% endblock %}

</html>