{% extends "layout.html" %}
{% block body %}

<div class="container">
<div class="span12">
	
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="{{ url_for('index') }}" style="color: #6CB446">Your Single Stop</a>
	    <ul class="nav">
	    </ul>
	  </div>
	</div>
</div>

<h2>Login</h2>

<form action="{{ url_for('login') }}" method=post>
    <dl>
        <dt>Username:
        <dd><input type=text name=username>
        <dt>Password:
        <dd><input type=password name=password>
        <dd><input type=submit value=Login>
    </dl>
</form>

</div>

{% endblock %}
