{% extends "layout.html" %}
{% block body %}
  <div class="span4">
  <br><br>
	<h2>You may be eligible for $50,000</h2>
    <b>Please register to find out how</b><br><br>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <form class="navbar-form pull-left">
  		<input type="text" class="span2" placeholder="Username"><br>
		<input type="text" class="span2" placeholder="Password"><br>
		<input type="text" class="span2" placeholder="Verify Password"><br><br>

		
  <button type="submit" class="btn">Login</button>
  </div>

  </div>
</form>
{% endblock %}